* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ---------------- HEADER / NAVIGATION BAR ------------------ */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0e303f;
    color: #b9c1dd;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .project-1{
    width: 100%;
    min-height: 200px;
  }
  .project-2,
  .project-3,
  .project-4{
    width: 49%;
    min-height: 50px;
  }

@media screen and (min-width: 992px) {
    .project-2,
    .project-3,
    .project-4{
      width: 33%;
      min-height: 50px;
    }
  }