* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

/* ---------------- HEADER / NAVIGATION BAR ------------------ */

header {
    padding: 20px;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav a:hover {
    text-decoration: underline white;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* ----------------- BANNER IMAGE ------------------ */
#banner {
    background-image: url(../images/galaxybg.jpeg);
    height: 200px;
}
/* ----------------- MAIN BODY --------------------- */
.section-body {
    width:30%;
    margin-left: 40px;
}

.section-body p {
    padding-bottom: 20px;
}

.selfie {
    height: 300px; width: 200px;
    padding-left: 20px;
}

.section {
    display:flex;
}

/* #project-container {
    display:flex;
    flex-wrap: wrap;
}  */

.project {
    margin:10px;
    border: 5px solid rgb(73, 18, 184);
} 

#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #about-me h2, #projects h2, #contact-me h2{
    border-right:3px solid #ffffff;
    padding-right: 10px;
  }

  .Phone:hover {
    text-decoration: underline;
  }

  .Email:hover {
    text-decoration: underline;
  }

@media screen and (min-width: 992px) {
    .project-2,
    .project-3,
    .project-4{
      width: 33%;
      min-height: 50px;
    }
  }